body {

    background-color: rgb(244, 149, 157);
    color: beige;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {background: linear-gradient( to right, beige, pink);
padding: 20px;
text-align: center;
color:antiquewhite;

}

ul{ 
    list-style-type:none;
    marg8889