



body {

 

    background-color: rgb(131, 168, 168);
    color: #1b191b;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 10px;
    padding: 20px;
}

nav ul {
  list-style: none;      
  margin: 0;
  color: antiquewhite;
  padding: 10px;
  display: flex;         
  justify-content: center; 
  background-color: rgb(166, 194, 216);
}

nav li {
  margin: 0 20px;        
}

nav a {
  color: white;          
  text-decoration: none; 
  font-weight: bold;
  transition: 0.3s;
}

nav a li:hover {
  color: #190264;        
}



.container {
  max-width: 900px;               
  margin: 30px auto;              
  padding: 20px;
  background: rgb(236, 230, 234);              
  border-radius: 10px;            
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
} 

div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

h1 {
    color: rgb(12, 12, 12);
    text-align: center;
    margin-bottom: 20px;

}
