







body {

 <ul>
        <li><a href="index.html">Home</a></li>
        <li><a class="active" href="binairstelsel.html">Binairstelsel</a></li>
        <li><a href="kleurmodellen.html">Kleurmodellen</a></li>
        <li><a href="Compressie.html">Compressie</a></li>
        <li><a href="Invoer.html">Proces</a></li>
        <li><a href="overmij.html">Over mij</a></li>
    
    </ul> 


    background-color: rgb(244, 149, 157);
    color: beige;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {background: linear-gradient( to right, beige, pink);
padding: 20px;
text-align: center;
color:antiquewhite;

}

header h1 {
    margin: 0;
    font-size: 2.2em;

}

nav {

    background-color: azure;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a { 
 color: white;
 text-decoration: none;
 margin: 0 20px;
 font-weight: bold;
 transition: 0.3s;

}

nav a:hover { 
    color: antiquewhite;
    text-decoration: underline;

}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0,1);
}

h2 {
 color: cornsilk;
 margin-top: 0;
}

p {
font-size: 1.1em;
}
 footer { 
text-align: center;
padding: 15px;
background-color: aqua;
color: white;
margin-top: 40px;
 }





ul{ 
    list-style-type:none;
    margin: 20px;
}

